<!DOCTYPE html>
<html lang="{{lang}}">
    <head>
        <meta charset="UTF-8">
        <meta name="author" content="{{author}}">
        <meta name="keywords" content="{{keywords}}">
        <meta name="description" content="{{description}}">
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <title>{{title}} - {{site.title}}</title>
        <link href="https://fonts.cdnfonts.com/css/minion-pro" rel="stylesheet">
        <link href="https://fonts.cdnfonts.com/css/jetbrains-mono" rel="stylesheet">
        <link rel="stylesheet" href="article.css">
    </head>

<body>

<header>
    <span id="title">{{site.title}}</span>
    <span id="subtitle">{{site.subtitle}}</span>
    <div id="header-nav">
        <span><a href="{{site.categories_href}}">分类</a></span>
        <span><a href="{{site.about_href}}">关于</a></span>
    </div>
</header>

<main id="main">
    <article>
        <div id="article-header">
            <h1>{{title}}</h1>
            <div>
                {% set c = created_at %}
                <time id="created-date" class="article-meta" datetime="{{c.0}}-{{c.1}}-{{c.2}}">发表于：{{c.0}}-{{c.1}}-{{c.2}}</time>
                <a class="article-meta" href="{{category_href}}">分类：{{category_name}}</a>
            </div>

        </div>

        {{content_html}}
    </article>

    {% if updated_at is not none -%}
    {%- set u = unwrap(value = updated_at) -%}
    <time id="updated-date" datetime="{{u.0}}-{{u.1}}-{{u.2}}">最后编辑：{{u.0}}-{{u.1}}-{{u.2}}</time>
    {%- endif -%}

    <!-- comments -->
</main>

<footer id="footer">
    <span id="copyright">{{site.copyright}}</span>
    <span id="footnote">{{site.footnote}}</span>
</footer>

<!--{% include "foot.html" %}-->

<div id="outline">
    {% if nav_html is not none -%}
    {%- set n = unwrap(value = nav_html) -%}
    {{n}}
    {%- endif -%}
</div>
<aside id="left-nav"></aside>
<div id="left-top"></div>
<div id="left-bottom"></div>
<div id="right-top"></div>
<div id="right-bottom"></div>

</body>
</html>