<!DOCTYPE html>
<html lang="{{lang}}">
    <head>
        <meta charset="UTF-8">
        <meta name="author" content="{{author}}">
        <meta name="keywords" content="{{keywords}}">
        <meta name="description" content="{{description}}">
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <title>{{title}} - {{site.title}}</title>
    </head>
<body>
<header>
    <h1>{{title}}</h1>
    <time datetime="{{created_at}}">{{created_at}}</time> | <time datetime="{{updated_at}}">更新于：{{updated_at}}</time>  <!-- /分类 -->
</header>

    {{content_html}}

{% include "foot.html" %}
</body>
</html>