<!DOCTYPE html>
<html lang="{{lang}}">
    <head>
        <meta charset="UTF-8">
        <meta name="author" content="{{author}}">
        <meta name="keywords" content="{{keywords}}">
        <meta name="description" content="{{description}}">
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <title>{{title}} - {{site.title}}</title>
        <link rel="stylesheet" href="article.css">
    </head>
<body>

<aside id="left-nav">有没有</aside>

<div id="outline">
    {% if nav_html is not none -%}
    {%- set n = unwrap(value = nav_html) -%}
    {{n}}
    {%- endif -%}
</div>

<header>
    TITLE
</header>
<main id="main">

    <article>
        <div>
            <h1>{{title}}</h1>
            {% set c = created_at %}
            <time datetime="{{c.0}}-{{c.1}}-{{c.2}}">{{c.0}}-{{c.1}}-{{c.2}}</time>

            {% if updated_at is not none -%}
            {%- set u = unwrap(value = updated_at) -%}
            <time datetime="{{u.0}}-{{u.1}}-{{u.2}}">更新于：{{u.0}}-{{u.1}}-{{u.2}}</time>
            {%- endif -%}

            <a href="{{category_href}}">{{category_name}}</a>
        </div>

        {{content_html}}
    </article>

    <!-- comments -->
</main>
{% include "foot.html" %}

<div id="left-top"></div>
<div id="left-bottom"></div>
<div id="right-top"></div>
<div id="right-bottom"></div>

</body>
</html>